name: Publish PowerShell module

# Ustawiamy, kiedy przepływ zostanie uruchomiona. Wyzwalaczem będzie push do gałęzi master
on:
  push:
    branches: [master]

# Definiujemy jeden lub więcej zadań
jobs:
  publish:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        shell: powershell
        run: |
          Install-Module -Name Pester -RequiredVersion 4.10.1 -Force
          Install-Module -Name PSScriptAnalyzer -Force

      - name: Run test
        shell: powershell
        run: |
          Import-Module -Name Pester -MaximumVersion 4.10.1
          if((Invoke-Pester -Strict -PassThru).FailedCount -ne 0){
            Throw 'Failed  unit tests.'
          }

      - name: Run script analyze
        shell: powershell
        run: |
          $scriptAnalyzerParams = @{
            Path        = "$($env:GITHUB_WORKSPACE)\public"
            Severity    = @('Error', 'Warning')
            Recurse     = $true
            Verbose     = $false
            ExcludeRule = 'PSUseDeclaredVarsMoreThanAssignments'
          }
          # , 'PSAvoidOverwritingBuiltInCmdlets'
          if(Invoke-ScriptAnalyzer @scriptAnalyzerParams) {
            Throw "One or more PSScriptAnalyzer errors/warnings where found."
          }

      - name: Publish
        env:
          NuGetApiKey: ${{ secrets.NUGET_KEY }}
        shell: powershell
        run: Publish-Module -Path $env:GITHUB_WORKSPACE -NuGetApiKey $env:NuGetApiKey
